<script>
  document.addEventListener('keydown', function (event) {
    if (event.key === 'Escape') {
      closeOverlay()
    }
  })

  function openTab(evt, hf_id) {
    var tabcontent = document.getElementsByClassName('tabcontent')
    for (var i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = 'none'
    }

    var tablinks = document.getElementsByClassName('tablinks')
    for (var j = 0; j < tablinks.length; j++) {
      tablinks[j].className = tablinks[j].className.replace(' active', '')
    }

    document.getElementById(hf_id).style.display = 'block'
    evt.currentTarget.className += ' active'
  }
</script>
