@for $i from 1 through length($hf-tab-colors) {
  $hf-bg-color: nth($hf-tab-colors, $i);

  /* goal-navigation-top */
  #tabbtn-#{$i} {
    width: 18%;
    padding: 0.75rem 0rem;
    margin-right: 1px;
    margin-top: 1px;
    font-size: calc(5px + 0.75vw);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $hf-bg-color;

    border-radius: 10px 10px 0 0;
    background-color: #fcfcfc;
    border: none;
    box-shadow: 5px 5px 5px 0px rgba(5, 5, 5, 0.2);
  }

  #tabbtn-#{$i}:hover {
    color: white !important;
    background-color: $hf-bg-color !important;
    box-shadow: 5px 5px 5px 0px rgba(5, 5, 5, 0.2) !important;
  }
  #tabbtn-#{$i}:focus,
  #tabbtn-#{$i}.active {
    color: white !important;
    background-color: $hf-bg-color !important;
    box-shadow: 5px 5px 5px 0px rgba(5, 5, 5, 0.05) !important;
  }
}

.tablinks {
  margin-top: 0px;
}

.hf-title {
  margin-top: 10vh;
  color: white;
  font-weight: bold;
  font-size: 3em;
}
.hf-description {
  margin-bottom: 1vh;
  color: white;
  font-size: 1.5em;
  border-bottom: 1px solid white;
  padding-bottom: 1em;
}
.hf-subtitle {
  margin-top: 10vh;
  margin-bottom: 3vh;
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
}
.hf-thema-title {
  margin-bottom: 0.1em;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
}
.hf-thema-text {
  margin-bottom: 1rem;
  color: white;
  font-size: 1em;
}
