<div class="tab container overflow-x-auto" style="margin-top: 1rem">
  <div class="flex flex-nowrap content-start">
    {% for hf in site.data.handlungsfelder.frontpage_handlungsfelder %}
    <button
      class="tablinks {% if forloop.first %}active{% endif %}"
      id="tabbtn-{{ forloop.index }}"
      onclick="openTab(event, 'frontpage-handlungsfelder-{{ hf.title | slugify }}')"
    >
      <i class="fa {{ hf.icon }} text-xl xl:text-2xl"></i>
      <span class="hidden lg:text-sm xl:text-lg px-4 lg:block">{{ hf.title }}</span>
    </button>
    {% endfor %}
  </div>
</div>

<!-- Handlungsfelder - Tab Contents -->
{% for hf in site.data.handlungsfelder.frontpage_handlungsfelder %}
<div
  class="wide-background tabcontent"
  id="frontpage-handlungsfelder-{{ hf.title | slugify }}"
  style="display: {% if forloop.first %}block{% else %}none{% endif %}; background-color: {{ hf.hf-color }};"
>
  <!-- Import contents or show inline content -->
  {% include components/thema.html thema=hf %}
</div>
{% endfor %}
