<!-- Handlungsfelder - tiles -->
<div class="container pb-12 pt-8">
  <div class="tab grid grid-cols-12 gap-y-4 pt-1 md:gap-8">
    {% for handlungsfeld in site.data.handlungsfelder.frontpage_handlungsfelder %}
    <div class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3">
      <!-- Button, opens Modal -->
      <button
        class="flex min-w-full flex-col items-center justify-center rounded bg-white px-4 shadow transition min-h-48"
        id="tabbtn-{{ forloop.index }}"
        onclick="openOverlay(this)"
        data-title="{{ handlungsfeld.title }}"
        data-content="{{ handlungsfeld.leitsatz | escape }}"
        data-color="{{ handlungsfeld.hf-color }}"
        data-hf-goals="{{ handlungsfeld.hf-goals }}"
        data-base-url="{{ site.baseurl }}"
      >
        <i class="fa {{ handlungsfeld.icon }} text-2xl" aria-hidden="true"></i>
        <span class="text-lg">{{ handlungsfeld.title | t }}</span>
      </button>
    </div>
    {% endfor %}
  </div>
</div>
{% include components/modal.html %}
